## <summary>policy for kde</summary>


########################################
## <summary>
##	create kde user_systemd_t  service
## </summary>
## <param name="domain">
##	<summary>
##	service name
##	</summary>
## </param>
#
interface(`createKDEuserService',`
	gen_require(`
		role user_r;
	')
	domain_type(kde_$1_t)
	domain_entry_file(kde_$1_t, kde_$1_exec_t)
	systemd_user_daemon_domain(user,kde_$1_exec_t, kde_$1_t)
	role user_r types kde_$1_t;
')

########################################
## <summary>
##	kde module can use xserver dri
## </summary>
## <param name="domain">
##	<summary>
##	module name
##	</summary>
## </param>
#
interface(`kde_module_XserverDri',`
	gen_require(`
		type xserver_t;
		type kde_$1_t;
	')
	allow kde_$1_t xserver_t:fd use;
	dev_rw_dri(kde_$1_t)
')



########################################
## <summary>
##	module kde can create socket in user_runtime
## </summary>
## <param name="domain">
##	<summary>
##	service name
##	</summary>
## </param>
#
interface(`kdeModuleCreateSocketURuntime',`
	gen_require(`		
		type kde_$1_runtime_t;
		type kde_$1_t;
	')
	files_runtime_file(kde_$1_runtime_t)
	userdom_user_runtime_content(kde_$1_runtime_t)

	allow kde_$1_t kde_$1_runtime_t:sock_file manage_sock_file_perms;
	userdom_user_runtime_filetrans(kde_$1_t, kde_$1_runtime_t, sock_file)


	
#	type kde_$1_runtime_t;
#	files_runtime_file(kde_$1_runtime_t)
	
#	manage_sock_files_pattern(kde_$1_t, kde_$1_runtime_t, kde_$1_runtime_t)
#	files_runtime_filetrans(kde_$1_t, kde_$1_runtime_t, { file sock_file dir })
#	userdom_user_runtime_filetrans(kde_$1_t, kde_$1_runtime_t, { dir file sock_file })
#	allow kde_$1_t kde_$1_runtime_t:sock_file create_sock_file_perms;
#	files_runtime_filetrans(kde_$1_t, kde_$1_runtime_t, sock_file)
')







########################################
## <summary>
##	transite from first module to second
## </summary>
## <param name="domain">
##	<summary>
##	service name
##	</summary>
## </param>
#
interface(`kde_module_trans',`
	gen_require(`
		type kde_$1_t;
		type kde_$2_exec_t;
		type kde_$2_t;
	')
	domtrans_pattern(kde_$1_t, kde_$2_exec_t, kde_$2_t)
')




########################################
## <summary>
##	create kde user_t app
## </summary>
## <param name="domain">
##	<summary>
##	service name
##	</summary>
## </param>
#
interface(`createKDEuserApp',`
	gen_require(`
		type user_t;
		role user_r;
	')
	domain_type(kde_$1_t)
	domain_entry_file(kde_$1_t, kde_$1_exec_t)
#	systemd_user_daemon_domain(user,kde_$1_exec_t, kde_$1_t)
	role user_r types kde_$1_t;
')





########################################
## <summary>
##	kde module can (getattr|read) localization
## </summary>
## <param name="domain">
##	<summary>
##	module name
##	</summary>
## </param>
#
interface(`kde_module_can_read_localization',`
	gen_require(`
		type kde_$1_t;
	')
	miscfiles_getattr_localization(kde_$1_t)
	miscfiles_read_localization(kde_$1_t)
')





########################################
## <summary>
##	create dir file lnk in home for kde module 
## </summary>
## <param name="domain">
##	<summary>
##	module name
##	</summary>
## </param>
#
interface(`kde_module_createHomeDFL',`
	gen_require(`
		type kde_$1_t;
	')
	type kde_$1_home_local_share_t;
	type kde_$1_home_cache_t;
	type kde_$1_home_config_t;


	files_type(kde_$1_home_local_share_t)
	files_type(kde_$1_home_cache_t)
	files_type(kde_$1_home_config_t)
	
	manage_dirs_pattern(kde_$1_t, kde_$1_home_local_share_t, kde_$1_home_local_share_t)
	manage_files_pattern(kde_$1_t, kde_$1_home_local_share_t, kde_$1_home_local_share_t)
	manage_lnk_files_pattern(kde_$1_t,kde_$1_home_local_share_t, kde_$1_home_local_share_t)


	manage_dirs_pattern(kde_$1_t, kde_$1_home_cache_t, kde_$1_home_cache_t)
	manage_files_pattern(kde_$1_t, kde_$1_home_cache_t, kde_$1_home_cache_t)
	manage_lnk_files_pattern(kde_$1_t,kde_$1_home_cache_t, kde_$1_home_cache_t)

	manage_dirs_pattern(kde_$1_t, kde_$1_home_config_t, kde_$1_home_config_t)
	manage_files_pattern(kde_$1_t, kde_$1_home_config_t, kde_$1_home_config_t)
	manage_lnk_files_pattern(kde_$1_t,kde_$1_home_config_t, kde_$1_home_config_t)
')
