## <summary>policy for kde</summary>

#user service
#	gen_require(`
#		role user_r;
#	')
#	domain_type(kde_$1_t)
#	domain_entry_file(kde_$1_t, kde_$1_exec_t)
#	systemd_user_daemon_domain(user,kde_$1_exec_t, kde_$1_t)
#	role user_r types kde_$1_t;

#runtime socket
#	files_runtime_file(kde_$1_runtime_t)
#	userdom_user_runtime_content(kde_$1_runtime_t)
#	allow kde_$1_t kde_$1_runtime_t:sock_file manage_sock_file_perms;
#	userdom_user_runtime_filetrans(kde_$1_t, kde_$1_runtime_t, sock_file)
   
