policy_module(kde, 1.0.0)

type kde_kded5_t;
type kde_kded5_exec_t;
domain_type(kde_kded5_t)
domain_entry_file(kde_kded5_t, kde_kded5_exec_t)
systemd_user_daemon_domain(user,kde_kded5_exec_t, kde_kded5_t)


optional_policy(`
	gen_require(`
		role user_r;
	')
	role user_r types kde_kded5_t;
')

attribute_role kde_kded5_r;
roleattribute system_r kde_kded5_r;
role kde_kded5_r types kde_kded5_t;
