policy_module(selinuxbuilderjava, 1.0.0)

type selinux_builder_java_t;
domain_type(selinux_builder_java_t)




optional_policy(`
	gen_require(`
		type user_t;
		role user_r;
	')
	role user_r types selinux_builder_java_t;
	seutil_run_semanage(selinux_builder_java_t,user_r)
')


corecmd_exec_shell(selinux_builder_java_t)
libs_exec_lib_files(selinux_builder_java_t)

optional_policy(`
	gen_require(`
		type init_t;
	')
	allow init_t selinux_builder_java_t:process transition;
')

require {
        type selinux_builder_java_t;
        type bin_t;
        type user_tmp_t;
        type init_t;
        type sysfs_t;
        type tmp_t;
        type proc_t;
        type user_home_dir_t;
        class dir { getattr remove_name search };
        class file { getattr open read unlink };
        class fd use;
        class process transition;
}
allow selinux_builder_java_t bin_t:dir { getattr search };
allow selinux_builder_java_t init_t:fd use;
allow selinux_builder_java_t proc_t:file { getattr open read };
allow selinux_builder_java_t sysfs_t:file { open read };
allow selinux_builder_java_t tmp_t:dir search;
allow selinux_builder_java_t user_home_dir_t:dir search;
allow selinux_builder_java_t user_tmp_t:dir remove_name;
allow selinux_builder_java_t user_tmp_t:file unlink;




















require {
        type default_context_t;
        type proc_t;
        type semanage_store_t;
        type java_exec_t;
        type sysctl_t;
        type selinux_builder_java_t;
        type user_home_t;
        type var_lib_t;
        type policy_config_t;
        type selinux_config_t;
        type locale_t;
        type user_tmp_t;
        type usr_t;
        type init_t;
        type nscd_runtime_t;
        type setfiles_exec_t;
        type cgroup_t;
        type semanage_read_lock_t;
        type semanage_exec_t;
        type etc_t;
        type sysctl_kernel_t;
        type file_context_t;
        type systemd_userdbd_runtime_t;
        type bin_t;
        type shell_exec_t;
        type home_root_t;
        type init_runtime_t;
        class dir { add_name create getattr open read remove_name rename rmdir search watch write };
        class sock_file write;
        class unix_stream_socket { connectto ioctl read write };
        class file { create entrypoint execute getattr ioctl lock map open read rename setattr unlink write };
        class lnk_file read;
        class fifo_file { append getattr ioctl read write };
        class capability { dac_override dac_read_search };
        class process { execmem getsched };
        class filesystem getattr;
}

#============= selinux_builder_java_t ==============
allow selinux_builder_java_t bin_t:file { execute getattr map open read };
allow selinux_builder_java_t bin_t:lnk_file read;
allow selinux_builder_java_t cgroup_t:dir search;
allow selinux_builder_java_t cgroup_t:file { getattr open read };
allow selinux_builder_java_t default_context_t:dir { getattr search };
allow selinux_builder_java_t etc_t:file { getattr open read };
allow selinux_builder_java_t file_context_t:dir { add_name getattr remove_name search write };
allow selinux_builder_java_t file_context_t:file { create open rename unlink write };
allow selinux_builder_java_t home_root_t:dir search;
allow selinux_builder_java_t init_runtime_t:dir search;
allow selinux_builder_java_t init_t:unix_stream_socket { connectto ioctl read write };
allow selinux_builder_java_t java_exec_t:file { entrypoint execute map read };
allow selinux_builder_java_t locale_t:dir { getattr open read search };
allow selinux_builder_java_t locale_t:file { getattr map open read };
allow selinux_builder_java_t nscd_runtime_t:dir search;
allow selinux_builder_java_t policy_config_t:dir { add_name getattr remove_name search write };
allow selinux_builder_java_t policy_config_t:file { create open rename unlink write };
allow selinux_builder_java_t proc_t:filesystem getattr;
allow selinux_builder_java_t self:capability { dac_override dac_read_search };
allow selinux_builder_java_t self:fifo_file { append getattr ioctl read write };
allow selinux_builder_java_t self:process { execmem getsched };
allow selinux_builder_java_t selinux_config_t:dir { add_name remove_name write };
allow selinux_builder_java_t selinux_config_t:file { create rename unlink write };
allow selinux_builder_java_t selinux_config_t:lnk_file read;
allow selinux_builder_java_t semanage_exec_t:file { execute map open read };
allow selinux_builder_java_t semanage_read_lock_t:file { getattr lock open read };
allow selinux_builder_java_t semanage_store_t:dir { add_name create getattr open read remove_name rename rmdir search write };
allow selinux_builder_java_t semanage_store_t:file { create getattr lock open read rename setattr unlink write };
allow selinux_builder_java_t setfiles_exec_t:file { execute map open read };
allow selinux_builder_java_t shell_exec_t:file { execute getattr map open read };
allow selinux_builder_java_t sysctl_kernel_t:dir search;
allow selinux_builder_java_t sysctl_kernel_t:file { open read };
allow selinux_builder_java_t sysctl_t:dir search;
allow selinux_builder_java_t systemd_userdbd_runtime_t:dir { getattr open read search };
allow selinux_builder_java_t systemd_userdbd_runtime_t:sock_file write;
allow selinux_builder_java_t user_home_t:dir { add_name getattr open read remove_name search watch write };
allow selinux_builder_java_t user_home_t:file { create getattr ioctl map open read unlink write };
allow selinux_builder_java_t user_tmp_t:dir { add_name getattr open read search write };
allow selinux_builder_java_t user_tmp_t:file { create getattr map open read write };
allow selinux_builder_java_t usr_t:dir read;
allow selinux_builder_java_t usr_t:file { getattr open read };
allow selinux_builder_java_t var_lib_t:dir { getattr search };







require {
        type setfiles_t;
        type load_policy_t;
        type semanage_t;
        type selinux_builder_java_t;
        class dir search;
        class file { getattr open read };
        class fd use;
        class fifo_file { read write };
}

allow load_policy_t selinux_builder_java_t:fd use;
allow load_policy_t selinux_builder_java_t:fifo_file { read write };

allow selinux_builder_java_t semanage_t:dir search;
allow selinux_builder_java_t semanage_t:file { getattr open read };

corecmd_exec_bin(selinux_builder_java_t)

allow setfiles_t selinux_builder_java_t:fd use;
allow setfiles_t selinux_builder_java_t:fifo_file { read write };
